In [1]:
import pandas as pd

In [2]:
heap_results = pd.read_csv('results_1000_heap.csv')
heap_results

,iteration,result,exited,return_code,signaled,term_sig,runtime,inject_delay
0,0,0,True,0,False,0,17.320666,5363
1,1,0,True,0,False,0,17.264898,7442
2,2,0,True,0,False,0,17.288970,4044
3,3,0,True,0,False,0,17.334837,2205
4,4,0,True,0,False,0,17.283378,2086
...,...,...,...,...,...,...,...,...
995,995,0,True,0,False,0,17.185825,2689
996,996,0,True,0,False,0,16.801182,218
997,997,0,True,0,False,0,16.848816,7797
998,998,0,True,0,False,0,16.942678,4255
999,999,0,True,0,False,0,16.809496,1750

In [9]:
heap_results.groupby(['result', 'exited', 'return_code', 'signaled', 'term_sig']).size().reset_index(name='count')

   result  exited  return_code  signaled  term_sig  count
0       0    True            0     False         0    982
1       2   False            0      True         6      2
2       2   False            0      True        11     16

In [7]:
heap_results[heap_results['term_sig'] == 6]

,iteration,result,exited,return_code,signaled,term_sig,runtime,inject_delay
317,317,2,False,0,True,6,18.300679,9986
506,506,2,False,0,True,6,17.738479,7933

In [8]:
heap_results[heap_results['term_sig'] == 11]

,iteration,result,exited,return_code,signaled,term_sig,runtime,inject_delay
8,8,2,False,0,True,11,17.703714,9486
107,107,2,False,0,True,11,0.921512,343
116,116,2,False,0,True,11,2.687289,2321
129,129,2,False,0,True,11,5.121287,4546
141,141,2,False,0,True,11,7.129130,6593
226,226,2,False,0,True,11,1.149205,838
318,318,2,False,0,True,11,6.834395,6315
333,333,2,False,0,True,11,3.093286,2634
340,340,2,False,0,True,11,17.841481,3779
418,418,2,False,0,True,11,17.417867,9252
491,491,2,False,0,True,11,17.705797,12553
548,548,2,False,0,True,11,6.205146,5725
607,607,2,False,0,True,11,8.618647,7970
723,723,2,False,0,True,11,14.741603,10517
802,802,2,False,0,True,11,12.874194,10434
945,945,2,False,0,True,11,7.438136,6083

In [5]:
stack_results = pd.read_csv('results_1000_stack.csv')
stack_results

,iteration,result,exited,return_code,signaled,term_sig,runtime,inject_delay
0,0,0,True,0,False,0,17.283306,9815
1,1,0,True,0,False,0,17.408450,10892
2,2,0,True,0,False,0,17.292255,341
3,3,0,True,0,False,0,17.349961,5217
4,4,0,True,0,False,0,17.322786,9225
...,...,...,...,...,...,...,...,...
995,995,0,True,0,False,0,17.032969,1127
996,996,0,True,0,False,0,17.265038,3567
997,997,0,True,0,False,0,16.904729,9662
998,998,0,True,0,False,0,17.072478,9768
999,999,0,True,0,False,0,16.715849,5072

In [10]:
stack_results.groupby(['result', 'exited', 'return_code', 'signaled', 'term_sig']).size().reset_index(name='count')

   result  exited  return_code  signaled  term_sig  count
0       0    True            0     False         0    997
1       2   False            0      True        11      3